@{
    ViewBag.Title = "Home Page";
}

@section scripts{
   



}


<span id="brMsg">


</span>

<br />
<a href="http://192.168.100.103/fcgi/do?action=OpenDoor&UserName=admin&Password=admin&DoorNum=1">daro baz kon </a>